.App {
  text-align: center;
  background-color: blanchedalmond;
  display: flex;
}

.section {
  text-align: center;
  color: black;
  font-size: 20px;
  font-family: 'Roboto', sans-serif;
  height: 100vh;
}

.section button {
  padding-top: 5px;
  padding-bottom: 5px;
  width: 300px;
  border: none;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
  border-radius: 12px;
}

.section #person{
  max-width: 20%;
  
}

.section #Doc{
  max-width: 80%;
  max-height: 700px;
  
  
}
.section .content #textLink{
  text-decoration: none;
  margin: auto;

}
.section .content{
  max-height: 30%;
  overflow: hidden;
}
.section .slide .items{
  justify-content: space-around;
  align-items: center;
  margin-top: 20px;
  position: relative;
  display: inline-block;
  margin-top: 0%;
  display: flex;
  margin-top: 5%;
}
